<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
<h1>Welcome to Admin Panel</h1>

<button class="btn btn-outline-success" type="submit"><a class="btn btn-primary w-100"
                                                         href="/category" >Category CRUD</a>
</button>
<button class="btn btn-outline-success" type="submit"><a class="btn btn-primary w-100"
                                                         href="/region" >Region CRUD</a></button>

<button class="btn btn-outline-success" type="submit"><a class="btn btn-primary w-100"
                                                         href="/author" >Author CRUD</a></button>
<br>

<button class="btn btn-outline-success" type="submit"><a class="btn btn-primary w-100"
                                                         href="/poem" >Poem CRUD</a></button>

<button class="btn btn-outline-success" type="submit"><a class="btn btn-primary w-100"
                                                         href="/post" >Post CRUD</a></button>

<button class="btn btn-outline-success" type="submit"><a class="btn btn-primary w-100"
                                                         href="/attachment" >Attachment CRUD</a></button>

</body>
</html>