<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        .col-md-4{
            margin-left: 350px;
            margin-top: 70px;
        }
    </style>
</head>
<body>
<br>
<a class="btn-danger col-md-4" href="/adminPage">Home</a>
<div class="col-md-4  ">
    <div class="card" style="width: 18rem;" align="center">
        <div class="card-body" align="center">
            <h2 class="card-title">File Upload</h2>
            <h6 class="text-success">[[${success}]]</h6>
            <div class="mb-3">
                <form th:action="@{/attachment/yuklash}" method="post" enctype="multipart/form-data">
                    <input
                            class="form-control" name="file" type="file" id="formFile"><br />
                    <input type="submit" value="Upload" class="btn btn-warning">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>