<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<h1>Author Window</h1>
<body>
<a class="btn-danger" href="/adminPage">Home</a>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <div class="alert alert-primary" th:text="${message}">
                </div>
                <tr class="table-dark">
                    <th>Id</th>
                    <th>FullName</th>
                    <th>Region</th>
                    <th>District</th>
                    <th>Village</th>
                    <th>BirthDate</th>
                    <th>Operation</th>
                </tr>
                <tr th:each="auth:${authorList}">
                    <td th:text="${auth.getId()}"></td>
                    <td th:text="${auth.getFullName()}"></td>
                    <td th:text="${auth.getRegions()}"></td>
                    <td th:text="${auth.getDistrict()}"></td>
                    <td th:text="${auth.getVillage()}"></td>
                    <td th:text="${auth.getBirthDate()}"></td>
                    <td>
                        <a th:href="'/author/edit/'+${auth.id}" class="btn btn-primary">Edit</a>
                        <a th:href="'/author/delete/'+${auth.id}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 text-center mt-5">
            <form th:action="@{/author/add}" method="post">
                <label>Enter fullName</label>
                <input class="form-control" type="text" name="fullName" required minlength="1">
                <label>Enter region</label>
                <input class="form-control" type="text" name="regions" required minlength="1">
                <label>Enter district</label>
                <input class="form-control" type="text" name="district" required minlength="1">
                <label>Enter village</label>
                <input class="form-control" type="text" name="village" required minlength="1">
                <label>Enter birthdate</label>
                <input class="form-control" type="text" name="birthdate" required minlength="1">
                <div class="form-group">
                    <label for="attachment">Select Attachment</label>
                    <select class="form-control selectpicker" name="attachmentId" id="attachment">
                        <option value="">attachment selected</option>
                        <option th:each="att : ${attachmentList}"
                                th:value="${att.id}"
                                th:text="${att.fileOriginalName}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="region">Select Region</label>
                    <select class="form-control selectpicker" name="regionId" id="region">
                        <option value="">region selected</option>
                        <option th:each="reg : ${regionList}"
                                th:value="${reg.id}"
                                th:text="${reg.name}">
                        </option>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary w-100">
            </form>
        </div>
    </div>
</div>

</body>
</html>