<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Author Edit</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="text-center left-pill mt-5">
            <h1 class = "text-white"> Edit Author </h1>
            <form th:action="@{/author/edit/{id}(id=${author.id})}" th:object = "${author}" method="POST">
                <div class ="form-group">
                    <label> author New Name </label>
                    <br><br>
                    <input
                            type = "text"
                            name = "fullName"
                            th:field = "*{fullName}"
                            class = "form-control"
                            placeholder="Enter fullName"
                    />
                </div>
                <br>
                <div class ="form-group">
                    <label> author New regions </label>
                    <br><br>
                    <input
                            type = "text"
                            name = "regions"
                            th:field = "*{regions}"
                            class = "form-control"
                            placeholder="Enter regions name"
                    />
                </div>
                <br>
                <div class ="form-group">
                    <label> author New district </label>
                    <br><br>
                    <input
                            type = "text"
                            name = "district"
                            th:field = "*{district}"
                            class = "form-control"
                            placeholder="Enter district name"
                    />
                </div>
                <br>
                <div class ="form-group">
                    <label> author New village </label>
                    <br><br>
                    <input
                            type = "text"
                            name = "village"
                            th:field = "*{village}"
                            class = "form-control"
                            placeholder="Enter village name"
                    />
                </div>
                <br>
                <div class ="form-group">
                    <label> author New birthdate </label>
                    <br><br>
                    <input
                            type = "text"
                            name = "birthdate"
                            th:field = "*{birthDate}"
                            class = "form-control"
                            placeholder="Enter birthdate"
                    />
                </div>
                <br>
                <div class="form-group">
                    <label for="attachment">Select Attachment</label>
                    <select class="form-control selectpicker" name="attachmentId" id="attachment">
                        <option value="">attachment selected</option>
                        <option th:each="attachment : ${attachmentList}"
                                th:value="${attachment.id}"
                                th:text="${attachment.fileOriginalName}"
                                th:selected="${author.attachment.id}">
                        </option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="region">Select Region</label>
                    <select class="form-control selectpicker" name="regionId" id="region">
                        <option value="">region selected</option>
                        <option th:each="region : ${regionList}"
                                th:value="${region.id}"
                                th:text="${region.name}"
                                th:selected="${author.region.id}">
                        </option>
                    </select>
                </div>
                <div class = "box-footer">
                    <button type="submit" class = "btn btn-primary w-100">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>