<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<h1>Post Window</h1>
<body>
<a class="btn-danger" href="/adminPage">Home</a>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <div class="alert alert-primary" th:text="${message}">
                </div>
                <tr class="table-dark">
                    <th>Id</th>
                    <th>CreatedDate</th>
                    <th>Operation</th>
                </tr>
                <tr th:each="post:${postList}">
                    <td th:text="${post.getId()}"></td>
                    <td th:text="${post.getCreatedDate()}"></td>
                    <td>
                        <a th:href="'/post/edit/'+${post.id}" class="btn btn-primary">Edit</a>
                        <a th:href="'/post/delete/'+${post.id}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 text-center mt-5">
            <form th:action="@{/post/add}" method="post">
                <label>Enter Description</label>
                <input class="form-control" type="text" name="description" required minlength="1">
                <label>Enter CreatedDate</label>
                <input class="form-control" type="date" name="cratedDate" required minlength="1">
                <div class="form-group">
                    <label for="attachment">Select Attachment</label>
                    <select class="form-control selectpicker" name="attachmentId" id="attachment">
                        <option value="">attachment selected:</option>
                        <option th:each="att : ${attachmentList}"
                                th:value="${att.id}"
                                th:text="${att.fileOriginalName}">
                        </option>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary w-100">
            </form>
        </div>
    </div>
</div>

</body>
</html>